*{
  box-sizing: border-box;
}

html.home{
  body{
    #home-slide{
      background-color: #008080;
      h1{
        font-size: 4vw;
        position: absolute;
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        color: #008080;
        small{
          display: block;
        }
        .black-text{
          color: red;
        }
        p{
          color: #50B7B7;
          text-transform: none;
          display: none;
          font-size: 1.4rem;
          font-weight: 100;
          padding: 0 1rem;
        }
      }
    }
    #about{
      background-color: #C83539;
    }
    #third{
      background: #f0c040;
      ul.project-list{
        margin: 0 auto;
        padding: 0 10px;
        width: 1040px;
        li{
          padding: 10px;
          float: left;
          display: inline-block;
          width: 500px;
          .inner{
            background: red;
            img{
              width: 100%;
            }
          }
        }
      }
      #project-viewer{
        position: absolute;
        left: 105%;
        top: 0;
        width: 100%;
        min-height: 100%;
        background-color: blue;
      }
    }
  }
}