#third{
  background-image: url("/includes/i/bg.jpg");
  ul.project-list{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1040px;
    &:before{
      content: '';
      display: table;
    }
    &:after{
      content: '';
      clear: both;
      display: table;
    }
    li{
      padding: 10px;
      float: left;
      display: inline-block;
      height: 178px;
      overflow: hidden;
      width: 33.333%;
      &.third{
        width: 66.666%;
      }
      @media (max-width: 1040px){
        width: 50% !important;
      }
      @media (max-width: 640px){
        width: 100% !important;
      }
      a.inner{
        position: relative;
        display: block;
        z-index: 0;
        overflow: hidden;
        height: 100%;
        cursor: pointer;
        .info{
          overflow: hidden;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .background{
            -webkit-transform: translate(100%);
            -moz-transform: translate(100%);
            -ms-transform: translate(100%);
            -o-transform: translate(100%);
            transform: translate(100%);
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
            -webkit-transition-delay: 0.15s;
            -moz-transition: -moz-transform 0.5s ease-in-out 0.15s;
            -o-transition: -o-transform 0.5s ease-in-out 0.15s;
            transition: transform 0.5s ease-in-out 0.15s;
            -moz-transition: -moz-transform 0.5s ease-in-out 0.3s;
            -o-transition: -o-transform 0.5s ease-in-out 0.3s;
            background-color: @main;
            z-index: 2;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::before{
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
            }
          }
          .desc{
            z-index: 2;
            position: absolute;
            color: #ffffff;
            text-align: center;
            width: 100%;
            top:50%;
            opacity: 0;
            -webkit-transition: opacity 1s;
            -moz-transition: opacity 1s;
            -ms-transition: opacity 1s;
            -o-transition: opacity 1s;
            transition: opacity 1s;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            h4{
              margin: 0 0 .8rem;
              text-transform: uppercase;
            }
            p{
              margin: 0;
              font-size: .9rem;
              padding: 0 .8rem;
            }
          }
        }
        i{
          content: "";
          display: block;
          position: absolute;
          background: url('/includes/i/logos.png') 0 0 no-repeat;
          width: 350px;
          height: 100px;
          top: 50%;
          left: 50%;
          margin-left: -175px;
          margin-top: -50px;
          z-index: 1;
          transform: scale(.7);
        }
        &:hover{
          .info{
            .background{
              -webkit-transform: translate(0);
              -moz-transform: translate(0);
              -ms-transform: translate(0);
              -o-transform: translate(0);
              transform: translate(0);
              -webkit-transition: -webkit-transform 0.5s ease-in-out;
              -webkit-transition-delay: 0.15s;
              -moz-transition: -moz-transform 0.5s ease-in-out 0.15s;
              -o-transition: -o-transform 0.5s ease-in-out 0.15s;
              transition: transform 0.5s ease-in-out 0.15s;
            }
            .desc{
              opacity: 1;
            }
          }
        }
        img{
          width: 100%;
        }
        &::before{
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          z-index: 1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
        }
        &::after{
          content: '';
        }
      }
    }
  }
  #project-viewer{
    z-index: 1;
    position: absolute;
    left: 105%;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    transition: background ease-in .3s;
    color: #fff;
    &:before{
      content: '';
      display: table;
    }
    &:after{
      content: '';
      clear: both;
      display: table;
    }
    .header-area{
      padding-top: 30px;
      padding-bottom: 20px;
      &:before{
        content: '';
        display: table;
      }
      &:after{
        content: '';
        clear: both;
        display: table;
      }
      h2.project-title{
        font-size: 2.2rem;
        font-weight: 100;
        margin: 0;
        padding-right: 20px;
      }
      .column1-3{
        float: left;
        width: 33.333%;
      }
      .column2-3{
        float: left;
        width: 66.666%;
      }
      @media (max-width: 640px){
        .column1-3,
        .column2-3{
          width: 100%;
        }
      }
    }
    .screenshot-container{
      max-width: 900px;
      margin: 0 auto;
      .screenshot{
        width: 100%;
        margin: 0 auto 0 auto;
        position: relative;
        -webkit-perspective: 1000px;
        perspective: 1600px;
        text-align: center;
        padding: 0 20px;
        padding-bottom: 65% !important;
        &:before{
          content: '';
          display: table;
        }
        &:after{
          content: '';
          clear: both;
          display: table;
        }
        img{
          position: absolute;
          -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
          transform-origin: left bottom;
          -webkit-box-shadow: 1px 0px 0 #fff,0 0 30px #3A3A3A;
          box-shadow: 1px 0px 0 #fff,0 0 30px #3A3A3A;
          &.desk{
            width: 90%;
            top: 0;
            left: 0%;
            //-webkit-transform: rotateY(-30deg) rotateX(5deg);
            // transform: rotateY(-30deg) rotateX(5deg);
            z-index: 0;
          }
          &.phone{
            top: 25%;
            width: 25%;
            //-webkit-transform: rotateY(-30deg) rotateX(5deg);
            //transform: rotateY(-30deg) rotateX(5deg);
            right: 0%;
            z-index: 1;
          }
        }
      }
    }
    .bottom{
      text-align: center;
    }
    a.back{
      display: none;
    }
  }
}