html.home{
  body{
    #home-slide{
      min-height: 0;
      transition: ease  3s;
      -o-transition: ease  3s;
      -moz-transition: ease  3s;
      -webkit-transition: ease  3s;
      background-color: #008080;
      h1{
        font-size: 4vw;
        position: absolute;
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        color: #008080;
        small{
          display: block;
        }
        .black-text{
          color: red;
        }
      }
    }
    h1{
      //color: red;
    }
    p{
      position: absolute;
      top: 40%;
      padding: 10px;
    }
  }
}