#contact{
  background-color: #ffffff;
  h2.section-header{
    color: #777;
  }
  form{
    position: relative;
    input, textarea{
      width: 100%;
      font-size: 1.3rem;
      margin-bottom: .8rem;
      height: 2.8rem;
      background: transparent;
      border: none;
      border-bottom: 2px #A8A9A9 solid;
      font-family: Roboto, sans-serif;
      line-height: 2.8rem;
      transition: .3s;
      color: #008080;
      &:focus{
        outline: none;
        border-bottom: 2px #008080 solid;
      }
    }
  }
}