@import "colors";
@import "http://fonts.googleapis.com/css?family=Montserrat:400,700";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,html{
  margin: 0;
  height: 101%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: @body;
  font-weight: 100;
  line-height: 1.4;
}
nav{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-left: 10px white solid;
  border-right: 10px white solid;
  z-index: 1;
  padding: 20px 15px;
  div.logo{
    font-weight: 800;
    font-size: 40px;
    display: inline-block;
    float: left;
    line-height: 1;
  }
  span.menu{
    display: inline-block;
    background: url('/includes/i/glyphicons-114-justify.png') no-repeat center center;
    float: right;
    height: 40px;
    width: 34px;
  }
}

section{
  //todo display: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  .container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    h2.section-header{
      position:relative;
      text-align: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 2.2rem;
      color: #ffffff;
      z-index: 0;
      &:after{
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 200px;
        top: 20px;
        left: 50%;
        margin-left: -100px;
        background-color: #999;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        z-index: -1;
      }
    }
  }

  .debris i{
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    border: 2px rgba(255, 255, 255, 0.7) solid;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    position: absolute;
    &:nth-child(odd){
      border-radius: 1000%;
    }
  }
}