@import "http://fonts.googleapis.com/css?family=Montserrat:400,700";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,html{
  margin: 0;
  height: 101%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}
nav{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-left: 10px white solid;
  border-right: 10px white solid;
  z-index: 1;
  padding: 20px 15px;
  div.logo{
    font-weight: 800;
    font-size: 40px;
    display: inline-block;
    float: left;
    line-height: 1;
  }
  span.menu{
    display: inline-block;
    background: url('/includes/i/glyphicons-114-justify.png') no-repeat center center;
    float: right;
    height: 40px;
    width: 34px;
  }
}

section{
  //TODO display: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.floating{
  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;

}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 45px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 45px);}
  to {-moz-transform: translate(0, -0px);}
}


.scaling{
  float: left;
  -webkit-animation-name: scalex;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -moz-animation-name: scale;
  -moz-animation-duration:3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease-in-out;
}

@-webkit-keyframes scalex{
  0% {-webkit-transform: scale(0.9);}
  15% {-webkit-transform: scale(1.9);}
  35% {-webkit-transform: scale(4.9);}
  65% {-webkit-transform: scale(.9); padding: 100%;}
  75% {-webkit-transform: scale(3.9);}
  100% {-webkit-transform: scale(1.9);}
}

@-moz-keyframes scale{
  0% {-webkit-transform: scale(0.9);}
  15% {-webkit-transform: scale(1.9);}
  35% {-webkit-transform: scale(4.9);}
  65% {-webkit-transform: scale(.9); padding: 100%;}
  75% {-webkit-transform: scale(3.9);}
  100% {-webkit-transform: scale(1.9);}
}