*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,html{
  margin: 0;
  height: 100%;
}
body{
  h2{
       text-transform: uppercase;
     }
}
section{
  background: #000000;
}